    /*
    Flaticon icon font: Flaticon
    Creation date: 26/09/2020 08:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-open:before { content: "\f100"; }
.flaticon-phone-call:before { content: "\f101"; }
.flaticon-briefcase:before { content: "\f102"; }
.flaticon-arrow-down:before { content: "\f103"; }
.flaticon-arrow-right:before { content: "\f104"; }
.flaticon-arrow-up:before { content: "\f105"; }
.flaticon-arrow-left:before { content: "\f106"; }
.flaticon-arrow-right-1:before { content: "\f107"; }
.flaticon-play-button:before { content: "\f108"; }
.flaticon-cancel:before { content: "\f109"; }
.flaticon-tick:before { content: "\f10a"; }
.flaticon-arrow-left-1:before { content: "\f10b"; }
.flaticon-notification:before { content: "\f10c"; }
.flaticon-share:before { content: "\f10d"; }
.flaticon-menu:before { content: "\f10e"; }
.flaticon-search:before { content: "\f10f"; }
.flaticon-apps:before { content: "\f110"; }
.flaticon-heart:before { content: "\f111"; }
.flaticon-heart-1:before { content: "\f112"; }
.flaticon-star:before { content: "\f113"; }
.flaticon-star-1:before { content: "\f114"; }
.flaticon-user:before { content: "\f115"; }
.flaticon-email:before { content: "\f116"; }
.flaticon-paper-plane:before { content: "\f117"; }
.flaticon-heart-2:before { content: "\f118"; }
.flaticon-heart-3:before { content: "\f119"; }
.flaticon-pay:before { content: "\f11a"; }
.flaticon-hand:before { content: "\f11b"; }
.flaticon-support:before { content: "\f11c"; }
.flaticon-support-1:before { content: "\f11d"; }
.flaticon-maternity:before { content: "\f11e"; }
.flaticon-medication:before { content: "\f11f"; }
.flaticon-medicine:before { content: "\f120"; }
.flaticon-capsules:before { content: "\f121"; }
.flaticon-doctor:before { content: "\f122"; }
.flaticon-elderly:before { content: "\f123"; }
.flaticon-health-report:before { content: "\f124"; }
.flaticon-pinwheel:before { content: "\f125"; }
.flaticon-medal:before { content: "\f126"; }
.flaticon-globe:before { content: "\f127"; }
.flaticon-coffee-cup:before { content: "\f128"; }
.flaticon-family:before { content: "\f129"; }
.flaticon-plus:before { content: "\f12a"; }
.flaticon-share-1:before { content: "\f12b"; }
.flaticon-pencil:before { content: "\f12c"; }
.flaticon-remove:before { content: "\f12d"; }
.flaticon-quotation:before { content: "\f12e"; }
.flaticon-quote:before { content: "\f12f"; }
.flaticon-quote-1:before { content: "\f130"; }
.flaticon-headphones:before { content: "\f131"; }
.flaticon-twitter:before { content: "\f132"; }
.flaticon-facebook:before { content: "\f133"; }
.flaticon-linkedin:before { content: "\f134"; }
.flaticon-whatsapp:before { content: "\f135"; }
.flaticon-youtube:before { content: "\f136"; }
.flaticon-up-arrow:before { content: "\f137"; }
.flaticon-maps-and-flags:before { content: "\f138"; }
.flaticon-placeholder:before { content: "\f139"; }
.flaticon-award:before { content: "\f13a"; }
.flaticon-stethoscope:before { content: "\f13b"; }
.flaticon-mask:before { content: "\f13c"; }
.flaticon-old-man:before { content: "\f13d"; }
.flaticon-back:before { content: "\f13e"; }
.flaticon-old:before { content: "\f13f"; }
.flaticon-clock:before { content: "\f140"; }
.flaticon-couple:before { content: "\f141"; }
.flaticon-wall-clock:before { content: "\f142"; }
.flaticon-calendar:before { content: "\f143"; }
.flaticon-nurse:before { content: "\f144"; }
.flaticon-caduceus-symbol:before { content: "\f145"; }
.flaticon-report:before { content: "\f146"; }
.flaticon-email-1:before { content: "\f147"; }
.flaticon-message:before { content: "\f148"; }
.flaticon-friend:before { content: "\f149"; }
.flaticon-discussion:before { content: "\f14a"; }
.flaticon-comments:before { content: "\f14b"; }
.flaticon-chat:before { content: "\f14c"; }
.flaticon-bookmark:before { content: "\f14d"; }
.flaticon-bookmark-1:before { content: "\f14e"; }
.flaticon-visibility:before { content: "\f14f"; }
    
    $font-Flaticon-open: "\f100";
    $font-Flaticon-phone-call: "\f101";
    $font-Flaticon-briefcase: "\f102";
    $font-Flaticon-arrow-down: "\f103";
    $font-Flaticon-arrow-right: "\f104";
    $font-Flaticon-arrow-up: "\f105";
    $font-Flaticon-arrow-left: "\f106";
    $font-Flaticon-arrow-right-1: "\f107";
    $font-Flaticon-play-button: "\f108";
    $font-Flaticon-cancel: "\f109";
    $font-Flaticon-tick: "\f10a";
    $font-Flaticon-arrow-left-1: "\f10b";
    $font-Flaticon-notification: "\f10c";
    $font-Flaticon-share: "\f10d";
    $font-Flaticon-menu: "\f10e";
    $font-Flaticon-search: "\f10f";
    $font-Flaticon-apps: "\f110";
    $font-Flaticon-heart: "\f111";
    $font-Flaticon-heart-1: "\f112";
    $font-Flaticon-star: "\f113";
    $font-Flaticon-star-1: "\f114";
    $font-Flaticon-user: "\f115";
    $font-Flaticon-email: "\f116";
    $font-Flaticon-paper-plane: "\f117";
    $font-Flaticon-heart-2: "\f118";
    $font-Flaticon-heart-3: "\f119";
    $font-Flaticon-pay: "\f11a";
    $font-Flaticon-hand: "\f11b";
    $font-Flaticon-support: "\f11c";
    $font-Flaticon-support-1: "\f11d";
    $font-Flaticon-maternity: "\f11e";
    $font-Flaticon-medication: "\f11f";
    $font-Flaticon-medicine: "\f120";
    $font-Flaticon-capsules: "\f121";
    $font-Flaticon-doctor: "\f122";
    $font-Flaticon-elderly: "\f123";
    $font-Flaticon-health-report: "\f124";
    $font-Flaticon-pinwheel: "\f125";
    $font-Flaticon-medal: "\f126";
    $font-Flaticon-globe: "\f127";
    $font-Flaticon-coffee-cup: "\f128";
    $font-Flaticon-family: "\f129";
    $font-Flaticon-plus: "\f12a";
    $font-Flaticon-share-1: "\f12b";
    $font-Flaticon-pencil: "\f12c";
    $font-Flaticon-remove: "\f12d";
    $font-Flaticon-quotation: "\f12e";
    $font-Flaticon-quote: "\f12f";
    $font-Flaticon-quote-1: "\f130";
    $font-Flaticon-headphones: "\f131";
    $font-Flaticon-twitter: "\f132";
    $font-Flaticon-facebook: "\f133";
    $font-Flaticon-linkedin: "\f134";
    $font-Flaticon-whatsapp: "\f135";
    $font-Flaticon-youtube: "\f136";
    $font-Flaticon-up-arrow: "\f137";
    $font-Flaticon-maps-and-flags: "\f138";
    $font-Flaticon-placeholder: "\f139";
    $font-Flaticon-award: "\f13a";
    $font-Flaticon-stethoscope: "\f13b";
    $font-Flaticon-mask: "\f13c";
    $font-Flaticon-old-man: "\f13d";
    $font-Flaticon-back: "\f13e";
    $font-Flaticon-old: "\f13f";
    $font-Flaticon-clock: "\f140";
    $font-Flaticon-couple: "\f141";
    $font-Flaticon-wall-clock: "\f142";
    $font-Flaticon-calendar: "\f143";
    $font-Flaticon-nurse: "\f144";
    $font-Flaticon-caduceus-symbol: "\f145";
    $font-Flaticon-report: "\f146";
    $font-Flaticon-email-1: "\f147";
    $font-Flaticon-message: "\f148";
    $font-Flaticon-friend: "\f149";
    $font-Flaticon-discussion: "\f14a";
    $font-Flaticon-comments: "\f14b";
    $font-Flaticon-chat: "\f14c";
    $font-Flaticon-bookmark: "\f14d";
    $font-Flaticon-bookmark-1: "\f14e";
    $font-Flaticon-visibility: "\f14f";